.project-card-container {
  width: 300px;
  padding: 15px;
  border-radius: 10px;
}

.name-text {
  font-weight: bold;
  font-size: 20px;
}

.description-text {
  font-weight: lighter;
  font-size: 12px;
}

.title-stack {
  align-items: center;
}
