.dashboard-container {
  .content-container {
    .head-banner {
      .head-banner-title {
        font-size: 20px;
        font-weight: bold;
      }
      .head-banner-subtitle {
        color: grey;
      }
    }
    .projects-status {
      margin-top: 10px;
    }
    .recent-tasks {
      .recent-tasks-title {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .recent-projects {
    }
  }
}
